article {
  @include span-columns(12);
  position: relative;
  a { font-weight: bold; }
  h1 {
    margin-bottom: .15em;
    line-height: .95em;
    text-align: center;
    a { @include anchor-underline($hover-link-color,.5,$hover-link-color,.75); }
  }
  ul { @extend %default-ul; }
  .date {
    font-size: .875rem;
    &, a {
      color: $muted-font-color;
      font-weight: normal;
    }
    a:hover { color: $hover-link-color; }
    text-align: center;
    margin-bottom: 2em;
    line-height: 20px;
    vertical-align: middle;
  }
  .twitter-tweet-button {
    margin-bottom: -5px;
    margin-left: 10px;
  }
}

.nav-article-previous, .nav-article-next {
  position: absolute;
  top: 0px;
  font-size: 4em;
  text-align: center;
  padding: 1.75em 1em;
  color: rgba($fonticons-navy,.15);
  text-decoration: none;
  @include transition(all .25s ease-in-out);
  &:hover:after, &:hover:before {
    font-family: $proxima-nova-cond;
    font-weight: bold;
    font-size: 1.25rem;
    vertical-align: 70%;
    padding: 0 .5rem;
  }
}
.nav-article-previous {
  left: -3.5em;
  &:hover { left: -4em; }
  &:hover:after { content: "Previous Article"; }
}
.nav-article-next {
  right: -3.5em;
  &:hover { right: -4em; }
  &:hover:before { content: "Next Article"; }
}
