a.sign-up {
  display: inline-block;
  @include transition (all 0.2s ease-in-out);
  background: $fonticons-orange;
  border-radius: $base-border-radius;
  color: #fff;
  font-family: $proxima-nova-cond;
  font-size: $h4-font-size;
  text-decoration: none;
  padding: .25em 1em;

  &:hover { background: mix(#fff,$fonticons-orange,20%); }
}