header {
  margin-bottom: 60px;
  padding: 27px 4% 23px;
  @include clearfix();
  nav, ul, li { display: inline-block; }
  ul.fonticons, .logo { float: left; }
  ul.blog { float: right; }
  a {
    padding: 10px 15px;
    display: block;
    position: relative;
  }
  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}

header, footer {
  font-family: $sans-serif;
  font-size: .875rem;
  background-color: $fonticons-navy;
  color: mix(#fff,$fonticons-navy,50%);
  a {
    color: #fff;
    &:hover { color: mix(#fff,$hover-link-color,20%); }
  }
}

$footer-height: 250px;
$footer-margin: 100px;

#wrap {
  min-height: 100%;
  margin: 0 auto (-($footer-height+$footer-margin));
}
#push { height: ($footer-height + $footer-margin); }
footer {
  margin-top: $footer-margin;
  height: $footer-height;
  text-decoration: none;
  text-align: center;
  padding: 40px;
  nav {
    a { display: block; }
    max-width: 25em;
    margin: 30px auto 0;
    text-align: left;
    @include clearfix();
  }
  ul {
    @include span-columns(4);
    @include omega(3n);
  }
}
