header {
  font-family: $sans-serif;
  background-color: $fonticons-navy;
  color: mix(#fff,$fonticons-navy,80%);
  margin-bottom: 80px;
  padding: 27px 4% 23px;
  font-size: .875rem;
  @include clearfix();
  nav, ul, li { display: inline-block; }
  ul.fonticons, .logo { float: left; }
  ul.blog { float: right; }
  a {
    color: #fff;
    padding: 8px 15px 11px;
    display: block;
    position: relative;
    text-decoration: none;
  }
  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}
