// provides hover styles for logo when logged in
.logo {
  sup { vertical-align: 140%; }
  path, polygon { fill: #fff; }
  rect {
    @include transition(opacity .4s linear);
    opacity: 0;
  }
  .rect-1 { fill: $fonticons-green; }
  .rect-2 { fill: $fonticons-blue; }
  .rect-3 { fill: $fonticons-orange; }
  .rect-4 { fill: $fonticons-yellow; }
  .rect-5 { fill: $fonticons-red; }
  &:hover {
    rect { opacity: 1; }
    polygon {
      @include animation(star-spin .5s 1 linear);
      @include transform-origin(50% 50%);
    }
  }
}

.logo, .logo-mini {
  text-decoration: none;
  sup {
    font-size: .75rem;
    color: mix(#fff,$fonticons-navy, 50%);
    @include transition(color .1s ease-in-out);
  }
  &:hover sup { color: #fff; }
}

.logo-mini {
  margin-left: 25px; // offsets the beta text
  sup { vertical-align: 248%; }
  path, polygon { fill: #fff; }
  &:hover {
    polygon {
      @include animation(star-spin .5s 1 linear);
      @include transform-origin(50% 50%);
    }
  }
}

@include keyframes(star-spin) {
  from { @include transform(rotate(-72deg)); } // 1/5 of a rotation
  to { @include transform(rotate(0)); } // for some reason, an extra 2 degrees are required for this to look right
}
@include keyframes(star-spin-out) {
  from { @include transform(rotate(72deg)); } // 1/5 of a rotation
  to { @include transform(rotate(0)); } // for some reason, an extra 2 degrees are required for this to look right
}
