nav.articles {
  h1 {
    text-align: center;
    margin-bottom: .5em;
  }
  li {
    @include clearfix();
    margin-bottom: 40px;
  }
  .date {
    @include span-columns(4);
    color: $muted-font-color;
    text-align: right;
    line-height: 2.25em;
    padding-right: 1em;
    text-decoration: none;
    &:hover {
      color: $hover-link-color;
      text-decoration: underline;
    }
  }
  .title {
    @include span-columns(8);
    font-family: $proxima-nova-cond;
    font-size: $h3-font-size;
    line-height: .95em;
  }
}