@mixin anchor-underline($underline-color, $underline-color-opacity, $hover-underline-color:"", $hover-underline-color-opacity:"") {
  -webkit-text-decoration-color: rgba($underline-color,$underline-color-opacity);
     -moz-text-decoration-color: rgba($underline-color,$underline-color-opacity);
          text-decoration-color: rgba($underline-color,$underline-color-opacity);
  @if $hover-underline-color != "" {
    &:hover, &:focus {
      -webkit-text-decoration-color: rgba($hover-underline-color,$hover-underline-color-opacity);
         -moz-text-decoration-color: rgba($hover-underline-color,$hover-underline-color-opacity);
              text-decoration-color: rgba($hover-underline-color,$hover-underline-color-opacity);
    }
  }
}
